{extend name="public/base" /}
{block name="content"}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">绩效表</h3>
                    <div class="pull-right">
                        <a href="{:url('history/dxh')}" class="btn btn-link btn-sm"><i class="fa fa-angle-double-left"></i>&nbsp;返回列表</a>
                    </div>
                </div>
                <div class="box-header with-border">
                    <div class="pull-left">
                        <input type="text" class="add_time" placeholder="开始时间" id="date">
                        <input type="text" class="end_time" placeholder="结束时间" id="date1">
                        <input type="text" class="user_id" placeholder="用户ID" >
                        <button class="layui-btn search_btn" style="height: 27px;padding: 0 10px;line-height: 16px;">搜索</button>
                    </div>
                </div>

                <div class="box-header with-border" style="width: 470px;">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th style="text-align: center;width: 100px">类型</th>
                            <th style="text-align: center;width: 175px">提成点%</th>
                            <th style="text-align: center;width: 195px">修改</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center;">足/篮</td>
                            <td style="text-align: center;">{$rate.sports_rate}</td>
                            <td>
                                <input type="number" class="rate" placeholder="提成点" id="new_sports_rate" style="width: 75px">
                                <button class="layui-btn edit_sports_rate_btn" style="height: 26px;line-height: 26px;">修改</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">其他</td>
                            <td style="text-align: center;">{$rate.other_rate}</td>
                            <td>
                                <input type="number" class="rate" placeholder="提成点" id="new_other_rate" style="width: 75px">
                                <button class="layui-btn edit_other_rate_btn " style="height: 26px;line-height: 26px;">修改</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="data_list_info">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th style="text-align: center;">用户ID</th>
                            <th style="text-align: center;">足/篮绩效</th>
                            <th style="text-align: center;">足/篮提成</th>
                            <th style="text-align: center;">其他绩效</th>
                            <th style="text-align: center;">其他提成</th>
                            <th style="text-align: center;">总提成</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='_list' key='k' id='item'}
                        <tr>
                            <td style="text-align: center;">
                                {$item.yhid}
                            </td>
                            <td style="text-align: center;">
                                {$item.sports_sum|default='-'}
                            </td>
                            <td style="text-align: center;">
                                <?php if($item['sports_sum']) echo ($item['sports_sum']*$rate['sports_rate']/100);else echo '-';?>
                            </td>
                            <td style="text-align: center;">
                                {$item.other_sum|default='-'}
                            </td>
                            <td style="text-align: center;">
                                <?php if($item['other_sum']) echo ($item['other_sum']*$rate['other_rate']/100);else echo '-';?>
                            </td>
                            <td style="text-align: center;">
                                <?php
                                    if($item['sports_sum'] && $item['sports_sum']) {
                                        echo ($item['sports_sum']*$rate['sports_rate'] + $item['other_sum']*$rate['other_rate'])/100;
                                    } elseif($item['sports_sum']) {
                                        echo ($item['sports_sum']*$rate['sports_rate']/100);
                                    } elseif($item['other_sum']) {
                                        echo ($item['other_sum']*$rate['other_rate']/100);
                                    } else {
                                        echo '-';
                                    }
                                ;?>
                            </td>
                        </tr>
                        {/volist}
                        {if condition="empty($_list)"}
                        <tr><td colspan="7" style="text-align: center;">空空如也~</td></tr>
                        {/if}
                        </tbody>
                    </table>
                    <div class="box-footer clearfix">
                        <ul class="pagination pull-right">{$page}</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script charset="utf-8" src="__PLUGINS__/KindEditor/kindeditor.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate','upload','table'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,upload = layui.upload;

        var table = layui.table;
        //日期
        laydate.render({
            elem: '#date'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#date1'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#cate_id'
        });
    })
</script>
<script type="text/javascript">
    $(".search_btn").click(function(){
        getData();
    });
    function getData(p){
        var add_time = $(".add_time").val();
        var end_time = $(".end_time").val();
        var user_id = $(".user_id").val();
        var result = {
            add_time : add_time,
            end_time : end_time,
            user_id : user_id
        };
        if(p==undefined || p<1)
            p = 1;
        var game_id = "";
        $.post("{:url('performance/get_performance_list')}",{page:p,result:result},function(res){
            if(res.code == 1){
                $("#data_list_info").html('').html(res.data);
            }
        },'json');
    }
    $(".edit_sports_rate_btn").click(function () {
        var rate = $("#new_sports_rate").val();
        if (rate && rate > 0 && rate < 100) {
            edit_rate(true, rate);
        }
    });
    $(".edit_other_rate_btn").click(function () {
        var rate = $("#new_other_rate").val();
        if (rate && rate > 0 && rate < 100) {
            edit_rate(false, rate);
        }
    });
    function edit_rate(is_sports, rate) {
        $.post("{:url('performance/edit_rate')}",{is_sports:false,rate:rate},function(res){
            layer.open({
                title: ''
                ,content: res.msg,
            });
            if(res.code === 200){
                setTimeout(function () {
                    window.location.reload();
                },500)
            }
        },'json');
    }
</script>
{/block}
