{extend name="public/base" /}
{block name='css'}

{/block}
{block name="content"}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">编辑</h3>
                        <div class="pull-right">
                            <a href="{:url('lol/index')}" class="btn btn-link btn-sm"><i class="fa fa-angle-double-left"></i>&nbsp;返回列表</a>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active" data-id="tab_base"><a href="javascript:;">基础信息</a></li>
                    </ul>
                    <form id="form_submit" enctype="multipart/form-data" class="layui-form layui-form-pane" action="" method="post">
                        <div class="box-body" id="tab_base">
                            <div class="layui-form-item">
                                <label class="layui-form-label">比赛名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="game_name" style="background-color: #FBFBF4;" value="{$data.game_name}" class="layui-input" placeholder="比赛名称" >
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">队伍1</label>
                                <div class="layui-input-block">
                                    <input type="text" name="team1" style="background-color: #FBFBF4;" value="{$data.team1}" class="layui-input" placeholder="队伍1" >
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">队伍2</label>
                                <div class="layui-input-block">
                                    <input type="text" name="team2" style="background-color: #FBFBF4;" value="{$data.team2}" class="layui-input" placeholder="队伍2" >
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">开始时间</label>
                                <div class="layui-input-block">
                                    <input type="text" name="start_time" style="background-color: #FBFBF4;" value="{$data.start_time|date='Y-m-d H:i:s',###}" class="layui-input" placeholder="比赛开始时间" >
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">视频地址</label>
                                <div class="layui-input-block">
                                    <input type="text" name="url" class="layui-input" value="{$data.url}" placeholder="视频地址" >
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">结束时间</label>
                                <div class="layui-input-block">
                                    <input type="text" id="date" name="end_time" value="{if condition="!empty($data['end_time'])"}{$data.end_time|date='Y-m-d H:i:s',###}{/if}" class="layui-input" placeholder="比赛结束时间" >
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">胜利队伍</label>
                                <div class="layui-input-block">
                                    <input type="text" name="win_team" value="{$data.win_team}" class="layui-input" placeholder="例:RNG(队伍名称)" >
                                </div>
                            </div>
                        </div></div>
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn">保存</button>
                            <label for="jump_list" style="margin-left: 15px;"><input type="checkbox" data-url="{:url('lol/index')}" id="jump_list" value="1" >返回列表页</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="js"}
<script>
layui.use(['form', 'layedit', 'laydate','upload','table'], function(){
    var form = layui.form
    ,layer = layui.layer
    ,layedit = layui.layedit
    ,laydate = layui.laydate
    ,upload = layui.upload;

    var table = layui.table; 
    //日期
    laydate.render({
        elem: '#date'
        ,type: 'datetime'
    });
    laydate.render({
        elem: '#date1'
        ,type: 'datetime'
    }); 
    laydate.render({
        elem: '#cate_id'
    });
})
</script>
{/block}


