{extend name="public/base" /}

{block name="content"}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
		              	<h3 class="box-title">订单列表</h3>
		            </div>
		            <div id="data_list_info">
						
		            </div>
				</div>
			</div>
		</div>
	</div>
{/block}

{block name="js"}
<script type="text/javascript">
	function getData(p){
		if(p==undefined || p<1)
			p = 1;
    	
		$.post("{:url('football/get_fb_order')}",{page:p},function(res){
			if(res.code == 1){
				$("#data_list_info").html('').html(res.data);
			}
		},'json');
	}
	$(function(){
		getData();
	});
</script>
<script>
layui.use(['form', 'layedit', 'laydate','upload','table'], function(){
    var form = layui.form
    ,layer = layui.layer
    ,layedit = layui.layedit
    ,laydate = layui.laydate
    ,upload = layui.upload;

    var table = layui.table; 
    //日期
    laydate.render({
        elem: '#date'
        ,type: 'datetime'
    });
    laydate.render({
        elem: '#date1'
        ,type: 'datetime'
    }); 
    laydate.render({
        elem: '#cate_id'
    });
})
</script>
{/block}\