<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>投注测试</title>
</head>
<body>

    <form>
        <p>投注内容:<input id="tz_result" type="text" name="tz_result" class="form-control"></p>
        <p>订单金额:<input id="order_money" type="text" name="order_money" class="form-control"></p>
        <p>开奖期号:<input id="kjid" type="text" name="kjid" class="form-control"></p>
        <p>TOKEN:<input id="token" type="text" name="token" class="form-control"></p>
        <input type="button" name="投注" value="投注" id="demoBtn1">  
    </form>
</body>
<script src="__PLUGINS__/jquery/js/jquery-2.2.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#demoBtn1").click(function(){
        var tz_result = $("#tz_result").val();
        var order_money = $("#order_money").val();
        var kjid = $("#kjid").val();
        var token = $("#token").val();
        $.ajax({
            url:"{:url('nine/game/touz')}",
            type:'post',
            data:{tz_result:tz_result,order_money:order_money,kjid:kjid,token:token},
            success:function(res){
                // if(res.code == 1){
                    alert(res.msg)
                // }
                console.log(res);
            }
        },'json')
    })
</script>  
</html>