<table class="layui-table table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
		<tr style="background-color: #009688;color: #fff;">
			{if condition="isset($id)"}
			<th colspan="9" style="font-size: 25px;text-align: center;">统计</th>
			{else /}
			<th colspan="8" style="font-size: 25px;text-align: center;">统计</th>
			{/if}
		</tr>
		<tr style="background-color: #009688;color: #fff;">
			<th style="text-align: center;" colspan="1">充值总金额</th>
			<th style="text-align: center;" colspan="1">提现总金额</th>
			<th style="text-align: center;" colspan="2">投注总金额</th>
			<th style="text-align: center;" colspan="2">中奖总金额</th>
			<th style="text-align: center;" colspan="1">分销总金额</th>
			<th style="text-align: center;" colspan="1">下注奖励总金额</th>
			{if condition="isset($id)"}
			<th style="text-align: center;" colspan="1">下级下注流水总额(足/篮+其他)</th>
			{/if}
		</tr>
	</thead>
	<tbody>
		<tr style="background-color: #009688;color: #fff;">
			<td colspan="1">{$statistics.cz_money}</td>
			<td colspan="1">{$statistics.tx_money}</td>
			<td colspan="2">{$statistics.tz_money}</td>
			<td colspan="2">{$statistics.win_money}</td>
			<td colspan="1">{$statistics.fx_money}</td>
			<td colspan="1">{$statistics.tzjl_money}</td>
			{if condition="isset($id)"}
			<td colspan="1">{$statistics.child_tz_money.sports}+{$statistics.child_tz_money.other}={$statistics.child_tz_money.sports+$statistics.child_tz_money.other}</td>
			{/if}
		</tr>
	</tbody>
  <thead>
  <thead>
    <tr >
		<th style="text-align: center;" style="width: 10px">#</th>
		<th style="text-align: center;">用户编号</th>
		<th style="text-align: center;">手机号码</th>
		<th style="text-align: center;">交易类型</th>
		<th style="text-align: center;">交易金额</th>
		<th style="text-align: center;">账户剩余金额</th>
		<th style="text-align: center;">交易状态</th>		
		<th {if condition="isset($id)"}colspan="2"{/if} style="text-align: center;">交易时间</th>
		<!-- <th style="text-align: center;" style="width: 100px">操作</th> -->
    </tr> 
  </thead>
    <tbody>
  	{volist name="_list" id="info" key='key'}
    <tr>
		<td style="text-align: center;">{$key}</td>
		<td style="text-align: center;">{$info.yhid|default='-'}</td>
		<td style="text-align: center;">{$info.phone|default='-'}</td>
		<td style="text-align: center;">
			{$info.Jylx|default='-'}
			{if condition="$info.status eq 2 and $info.present_status neq 0"}
			({$info.p_status})
			{/if}
		</td>
		<td style="text-align: center;">{$info.jyje|default='-'}</td>
		<td style="text-align: center;">{$info.new_money|default='-'}</td>
		{if condition="$info.Zfywc eq 1"}
		<td style="text-align: center;color: green">{$info.zf_status|default='-'}</td>
		{else /}
		<td style="text-align: center;color: red">{$info.zf_status|default='-'}</td>
		{/if}
		<td {if condition="isset($id)"}colspan="2"{/if} style="text-align: center;">{$info.Jysj|date='Y-m-d H:i:s',###|default='-'}</td>
		<!-- <td style="text-align: center;">
	      	<div class="btn-group btn-group-sm">
				<a href="javascript:;" data-container='body' data-placement="left" data-html='true' data-trigger="focus" data-title="删除提示" data-content='<p>您确定要删除吗?</p><button type="button" onclick="delete_data(this);" data-id="{$info.id}" data-url="{:url('order/order_delete')}" class="btn btn-danger btn-sm">删除</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info btn-sm">取消</button>' name="delete" style="color:red;" onclick="win_delete(this);">删除</a>
				&nbsp;&nbsp;&nbsp;
				<a href="{:url('order/edit')}?id={$info.id}">编辑</a>
			</div>
		</td> -->
    </tr>
   {/volist}
	{empty name='_list'}
	<tr>
		<td colspan="15">空空如也~</td>
	</tr>
	{/empty}
  </tbody>
</table>
<div class="box-footer clearfix">
  <ul class="pagination pull-right">{$page}</ul>
</div>