<table class="layui-table table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr >
		<th style="text-align: center;" style="width: 10px">#</th>
		<th style="text-align: center;">用户编号</th>
		<th style="text-align: center;">银行卡编号</th>
		<th style="text-align: center;">用户名</th>
		<th style="text-align: center;">银行卡号</th>
		<th style="text-align: center;">手机号码</th>
		<th style="text-align: center;">身份证号</th>
		<th style="text-align: center;">注册时间</th>
		<th style="text-align: center;">修改时间</th>
		<th style="text-align: center;" style="width: 100px">操作</th>
    </tr> 
  </thead>
    <tbody>
  	{volist name="_list" id="info" key='key'}
    <tr>
		<td style="text-align: center;">{$key}</td>
		<td style="text-align: center;">{$info.yhid|default='-'}</td>
		<td style="text-align: center;">{$info.Yhkid|default='-'}</td>
		<td style="text-align: center;">{$info.username|default='-'}</td>
		<td style="text-align: center;">{$info.Yhkh|default='-'}</td>
		<td style="text-align: center;">{$info.Sjhm|default='-'}</td>
		<td style="text-align: center;">{$info.Sfzh|default='-'}</td>
		<td style="text-align: center;">{$info.zcsj|date='Y-m-d H:i:s',###|default='-'}</td>
		<td style="text-align: center;">{if condition="$info.Xgsj neq 0"}{$info.Xgsj|date='Y-m-d H:i:s',###|default='-'}{else /}-{/if}</td>
		<td style="text-align: center;">
	      	<div class="btn-group btn-group-sm">
				<a href="javascript:;" data-container='body' data-placement="left" data-html='true' data-trigger="focus" data-title="删除提示" data-content='<p>您确定要删除吗?</p><button type="button" onclick="delete_data(this);" data-id="{$info.id}" data-url="{:url('bank_card/bank_card_delete')}" class="btn btn-danger btn-sm">删除</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info btn-sm">取消</button>' name="delete" style="color:red;" onclick="win_delete(this);">删除</a>
				<!-- &nbsp;&nbsp;&nbsp; -->
				<!-- <a href="{:url('Txsqsj/edit')}?id={$info.id}">编辑</a> -->
			</div>
		</td>
    </tr>
   {/volist}
	{empty name='_list'}
	<tr>
		<td colspan="15">空空如也~</td>
	</tr>
	{/empty}
  </tbody>
</table>
<div class="box-footer clearfix">
  <ul class="pagination pull-right">{$page}</ul>
</div>