<table class="layui-table">
    <thead>
    <tr>
        <th style="text-align: center;">用户ID</th>
        <th style="text-align: center;">足/篮绩效</th>
        <th style="text-align: center;">足/篮提成</th>
        <th style="text-align: center;">其他绩效</th>
        <th style="text-align: center;">其他提成</th>
        <th style="text-align: center;">总提成</th>
    </tr>
    </thead>
    <tbody>
    {volist name='_list' key='k' id='item'}
    <tr>
        <td style="text-align: center;">
            {$item.yhid}
        </td>
        <td style="text-align: center;">
            {$item.sports_sum|default='-'}
        </td>
        <td style="text-align: center;">
            <?php if($item['sports_sum']) echo ($item['sports_sum']*$rate['sports_rate']/100);else echo '-';?>
        </td>
        <td style="text-align: center;">
            {$item.other_sum|default='-'}
        </td>
        <td style="text-align: center;">
            <?php if($item['other_sum']) echo ($item['other_sum']*$rate['other_rate']/100);else echo '-';?>
        </td>
        <td style="text-align: center;">
            <?php
                                    if($item['sports_sum'] && $item['sports_sum']) {
                                        echo ($item['sports_sum']*$rate['sports_rate'] + $item['other_sum']*$rate['other_rate'])/100;
                                    } elseif($item['sports_sum']) {
                                        echo ($item['sports_sum']*$rate['sports_rate']/100);
                                    } elseif($item['other_sum']) {
                                        echo ($item['other_sum']*$rate['other_rate']/100);
                                    } else {
                                        echo '-';
                                    }
                                ;?>
        </td>
    </tr>
    {/volist}
    {if condition="empty($_list)"}
    <tr><td colspan="7" style="text-align: center;">空空如也~</td></tr>
    {/if}
    </tbody>
</table>
<div class="box-footer clearfix">
    <ul class="pagination pull-right">{$page}</ul>
</div>